 @font-face { font-family: Rund; src: url('../Fonts/SFCompactRounded.ttf') format('truetype'); } 

 	.Unterschrift {

 		font-family: Rund;
 		font-size: 20px;		

 		left: 50%;
 		width: 50%;
 		transform: translate(-50%,0);
 		position: absolute;

 	}
 	#Cred {

 		left: 50%;
 		width: 50%;
 		transform: translate(-50%,0);

 	}

	#Vorhang {
	}
	

	#Sicht {	
		overflow: hidden	
	}


	#Inhalt {

		opacity: 0;
		height: 2000px;

	}


	#Ticket {
		
		opacity: 0;
		top: 100%;
		left: 50%;
		width: 100%;

		position: relative;
		transform: translate(-50%, -50%);
	}


	#Kern {

		height: 100vh;

		position: relative;

	}


	.Kern {

		opacity: 0;
		top: 50%;
		left:  50%;

		position: absolute;
		transform: translate3d(-50%, -50%,0 );
	}

		#Willkommen {
			z-index: 0;

		}

		#Rad {
			z-index: 1;
			max-height: 1000px;
		}

		#Emblem {
			z-index: 0;
		}

		#Griff {
			z-index: 1;
			background-color: transparent;
			border-radius: 50%;
			display: inline-block;
		}
		#NichtGriff { 
			z-index: 1;
			background-color: transparent;
			border-radius: 50%;
			display: inline-block;
			pointer-events: 'none';
		}





@media screen and (orientation:landscape) {
	#Sicht {	
		overflow: hidden	
	}


		#Willkommen {
			height: 140%;
		}

		#Rad {
			height: 80%;
		}

		.Sterne {
			height: 200%;
		}
}



@media screen and (orientation:portrait) {
	#Sicht {	
		overflow: hidden	
	}

		#Willkommen {
			height: 100%;
		}

		#Rad {
			width: 80%;
		}

		.Sterne {
			width: 200%;
		}

}
