

@media screen and (orientation: landscape) {

	#Willkommen {

		z-index: 0;

		top: 50%;
		left: 50%;
		width: 50%;

		max-height: 80%;

		position: absolute;
		transform: translate(-50%, -50%);
	}

	#Rad {

		z-index: 1;

		top: 50%;
		left: 50%;
		width: 50%;

		max-height: 80%;

		position: absolute;
		transform: translate(-50%, -50%);
	}

	#Emblem {

		z-index: 3;

		top: 50%;
		left: 50%;
		width: 50%;

		max-height: 80%;

		position: absolute;
		transform: translate(-50%, -50%);
	}

	#Griff {

		background-color: transparent;
		border-radius: 50%;

		z-index: 2;

		top: 50%;
		left: 50%;

		position: absolute;
		transform: translate(-50%, -50%);

		display: inline-block;
	}
}















@media screen and (orientation: portrait) {

	#Willkommen {

		z-index: 0;

		top: 50%;
		left: 50%;
		height: 50%;
		max-width: 90%;

		position: absolute;
		transform: translate(-50%, -50%);
	}

	#Rad {

		z-index: 1;

		top: 50%;
		left: 50%;
		height: 50%;
		max-width: 90%;

		position: absolute;
		transform: translate(-50%, -50%);
	}

	#Emblem {

		z-index: 3;

		top: 50%;
		left: 50%;
		height: 50%;
		max-width: 90%;

		position: absolute;
		transform: translate(-50%, -50%);
	}

	#Griff {

		background-color: transparent;
		border-radius: 50%;

		z-index: 2;

		top: 50%;
		left: 50%;

		position: absolute;
		transform: translate(-50%, -50%);

		display: inline-block;
	}
}
