 @font-face { font-family: Rund; src: url('../Fonts/SFCompactRounded.ttf') format('truetype'); } 

 	body {
		margin: 0;
 	}

	#Vorhang {
	}
	

	#Sicht {	
		overflow: hidden;
	}


	#Inhalt {

		height: 2000px;

	}

	#Digital {
		opacity: 0;
	}
	#Material {
		opacity: 0;
	}
	#Mental {
		opacity: 0;
	}

		.video-background {
		  position: fixed;
		  top: 50%;
		  left: 50%;
		  min-width: 100%;
		  min-height: 100%;
		  transform: translate(-50%, -50%);
		}


	#Kern {

		height: 200vh;

		position: relative;

	}


	.Kern {

		opacity: 0;
		top: 50%;
		left:  50%;

		position: absolute;
		transform: translate3d(-50%, -50%,0 );
	}

		#Willkommen {
			z-index: 2;

		}
		#Anleitung {
			z-index: 0;
			transform: translate3d(-50%, -51%, 0 ); /* 51% für ideales alignment */
			position: fixed;
		}

		#Rad {
			z-index: 1;
			max-height: 1000px;
		}

		#Emblem {
			z-index: 0;
		}

		#Griff {
			z-index: 2;
			background-color: transparent;
			border-radius: 50%;
			display: inline-block;
		}
		#NichtGriff { 
			z-index: 3;
			background-color: transparent;
			border-radius: 50%;
			display: inline-block;
			pointer-events: 'none';
		}
		.Sterne {
			z-index: 1;
		}


 	.Unterschrift {
 		z-index: 0;

 		font-family: Rund;
 		font-size: 20px;		

 		height: 100px;
 		width: 100%;

		position: absolute;
	    vertical-align: middle;
	    text-align: center;
	    display: table-cell;

	 }
	 	#Cred {
	 		padding: 10px;
	 		left: 50%;
	 		width: 50%;
 			background-color: transparent;
 			display: table;
 			transform: translate(-50%);
	 	}
		.CredSymbole {
			vertical-align: middle;
 			display: table-cell;
 			opacity: 0;
 			margin-left: auto;
 			margin-right: auto;
	 	}



@media screen and (orientation:landscape) {
	#Sicht {	
	}

/* **************************************
	width & height entspricht 200vh
*************************************** */

		#Willkommen {
			height: 60%;
		}

		#Anleitung {
			height: 150%;
		}

		#Rad, #RadSchatten, #RadSchattenWeit {
			height: 40%;
		}

		.Sterne {
			height: 100%;
		}
}



@media screen and (orientation:portrait) {
	#Sicht {	
	}

/* **************************************
	width & height entspricht 200vh
*************************************** */

		#Willkommen {
			height: 60%;
		}

		#Anleitung {
			width: 150%;
		}

		#Rad, #RadSchatten, #RadSchattenWeit {
			width: 80%;
		}

		.Sterne {
			height: 70%;
		}

}
